<h2><%= t(:dashboard, :default => 'Dashboard') %></h2>

<p>
  In this demo, there are neither Sorcery/Cancancan (public access) nor ActiveStorage (heroku) but Beautiful-Scaffold has these generators. <br>
  Dans cette demo il n'y a ni Sorcery/Cancancan (accès public) ni ActiveStorage (heroku) mais Beautiful-Scaffold a des générateurs pour ça.
  <br><br>
  This demo use Beautiful-Scaffold v2.0.1
  <br><br>
  Github page : <a href="https://github.com/rivsc/Beautiful-Scaffold">Beautiful-Scaffold</a>
  Personal blog : <a href="https://blog.rivsc.ovh">Sylvain Claudel</a>
</p>